@model List<PruebaTecnicaBitsion.Models.DTOCliente>

@{
    ViewBag.Title = "Listado Clientes";
}

<div class="row">
    <div class="col">
        <h2 class="display-2">Listado de Clientes</h2>
    </div>
</div>

<p>
    <a href="/Cliente/AltaCliente" class="btn btn-primary">Nuevo Cliente</a>
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>Nombre Completo</th>
        <th>DNI</th>
        <th>Edad</th>
        <th>Género</th>
        <th>Estado</th>
        <th>Maneja?</th>
        <th>Usa lentes?</th>
        <th>Es diabético?</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Nombre
        </td>
        <td>
            @item.DNI
        </td>
        <td>
            @item.calcularEdad()
        </td>
        <td>
            @item.Descripcion
        </td>
            @if (item.Estado) { <td class="text-success">Activo</td> } else { <td class="text-danger">Baja</td> }
            @if (item.Maneja) { <td>Si</td> } else { <td>No</td> }
            @if (item.Lentes) { <td>Si</td> } else { <td>No</td> }
            @if (item.Diabetico) { <td>Si</td> } else { <td>No</td> }
        <td>
            <a href="/Cliente/EditarCliente?idCliente=@item.Id" class="btn btn-success">Modificar</a>
            <a href="/Cliente/EliminarCliente?idCliente=@item.Id" class="btn btn-warning">Eliminar</a>
        </td>
    </tr>
}

</table>
